.occ {
    display:flex;
    vertical-align: middle;
    line-height: 30px;
    margin-bottom:-24px;
    padding-bottom:0px;
}
.oc3logo {
    align-self:center;
    margin-bottom:0px;
    padding-bottom:0px;
}
.titlecomp {
    margin-top: 0px;
    padding-top:0px;
}